
/* CSS for all pages */
    /* discovered that setting the html height allows the content to use the entirety of the webpage */
    html {
        height: 100%;
    }
    body {
        block-size: auto;
        background-image: url(../images/interlaced-background-pattern.png);
        background-attachment: scroll;
        width: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        height: auto;
    }

    h1 {
        text-align: center;
        padding: 6px;
        font-size: 20px;
        background-color: rgb(74, 170, 165);
        width: 132px;
        position: relative;
        float:left;
        box-sizing: border-box;
        bottom: 0px;
        left: 471px;
        color: white;
        margin: 0;
    }

    header {
        /* overflow: auto;
        width: 100%;
        border-bottom: 5px solid rgb(74, 170, 165);
        position: relative;
        box-sizing: border-box; 
        
        removed for being absolutely unecessary*/
    }

    a {
        margin: 5px;
        padding: 5px;
        border-right: 2px solid gainsboro;
        text-emphasis: none;
    }

    .wrapper {
        width: 960px;
        position: relative;
        margin: auto;
        height: auto;
        box-sizing: border-box;

    }

    .topPage {
        background-color: white;
        overflow: auto;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 5px solid rgb(74, 170, 165)
    }
/* changed CSS styling on the footer (put position: absolute, and width 100%) in order to have it fill the entirety of the bottom part of the page */
    .bottomPage {
        background: darkgrey;
        overflow: auto;
        padding: 23px;
        box-sizing: border-box;
        position: absolute;
        bottom: -58px;
        width: 100%;
        font-size: smaller;
        opacity: 1;
        text-align: center;
        clear: both;
        height: 104px;
        border-top: rgb(74, 170, 165) solid 5px;
    }
    

    .links {
        float: left;
        position: relative;
        bottom: -6px;
        right: -1062px;
        font-size: smaller;
        }

/* Decoration of links */
    a:link {
    text-decoration: none;
    text-decoration-color: darkgray
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: rgb(74, 170, 165);
    }
    
    a:active {
    text-decoration: solid steelblue;
    }

    

/* This part of the CSS will dictate how the content of the about me page should behave */

/* CSS for the About Me page */
    /* changed the about me box to have more height */
    .aboutMeBox {
        background-color: white;
        padding-bottom: 0px;
        border-bottom:gray;
        border-bottom-style: solid;
        border-bottom-width: thick;
        position: relative;
        top: 35px;
        margin-bottom: 28px;
        width: fit-content;
        height: fit-content;
        box-sizing: border-box;
    }
    

    #aboutHeader {
        background-color: white;
        padding-bottom: 10px;
        border-bottom: 2px, gray;
        position: relative;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
    }

    #bioParagraph {
        line-height: 16px;
        padding: 40px;
        position: relative;
        /* float: left; */
        /* overflow: overlay; */
        top: -49px;
        left: 12px;
    }

    #myPersonalPicture {
        float: left;
        position: relative;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
    
    }