
/* CSS for all pages */
    /* discovered that setting the html height allows the content to use the entirety of the webpage */
    html {
        height: 100%;
    }
    body {
        block-size: auto;
        background-image: url(../images/interlaced-background-pattern.png);
        background-attachment: scroll;
        width: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        height: auto;
        min-height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        font-size: 26px;
        background-color: rgb(74, 170, 165);
        width: 223px;
        position: relative;
        float: left;
        box-sizing: border-box;
        bottom: 0;
        left: 471px;
        color: white;
        height: 81px;
        margin: 0;
        padding-top: 10px;
    }

    header {
        /* overflow: auto;
        width: 100%;
        border-bottom: 5px solid rgb(74, 170, 165);
        position: relative;
        box-sizing: border-box; 
        
        removed for being absolutely unecessary*/
    }

    a {
        margin: 5px;
        padding: 5px;
        border-right: 2px solid gainsboro;
        text-emphasis: none;
    }

    .wrapper {
        width: 960px;
        position: relative;
        margin: auto;
        height: auto;
        box-sizing: border-box;

    }

    .topPage {
        background-color: white;
        overflow: auto;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 5px solid rgb(74, 170, 165);
        height: 86px;
    }
/* changed CSS styling on the footer (put position: absolute, and width 100%) in order to have it fill the entirety of the bottom part of the page */
    .bottomPage {
        background: darkgrey;
        overflow: auto;
        /* padding: 23px; */
        box-sizing: border-box;
        position: absolute;
        bottom: 0px;
        width: 100%;
        font-size: smaller;
        opacity: 1;
        text-align: center;
        clear: both;
        height: 105px;
        border-top: rgb(74, 170, 165) solid 5px;
        margin: 0;
        padding: 42px;
    }
    

    .links {
        float: left;
        position: relative;
        bottom: -6px;
        right: -966px;
        font-size: smaller;
        }

/* Decoration of links */
    a:link {
    text-decoration: none;
    text-decoration-color: darkgray
    }
    
    a:visited {
    text-decoration: none;
    color: darkgray;
    }
    
    a:hover {
    text-decoration: rgb(74, 170, 165);
    }
    
    a:active {
    text-decoration: solid steelblue;
    }

    

/* This part of the CSS will dictate how the content of the about me page should behave */

/* CSS for the About Me page */
    /* changed the about me box to have more height */
    .aboutMeBox {
        background-color: white;
        padding-bottom: 0px;
        border: solid lightgrey thin;
        position: relative;
        top: 109px;
        left: -10px;
        width: 960px;
        height: fit-content;
        box-sizing: border-box;
        overflow: auto;
        padding: 12px;
    }
    
/* the header needs to have a width that is less than the parent element, additionally it will need to be floated left */
/* and then cleared in order to avoid collapsing */
    #aboutHeader {
        background-color: white;
        padding-bottom: 0px;
        border-bottom: 2px solid lightgrey;
        position: relative;
        top: 0px;
        left: 51px;
        float: left;
        box-sizing: border-box;
        clear: right;
        width: 90%;
        font-size: 20px;
        color: rgb(74, 170, 165);
    }

    .bioPhotoAndText {
        /* line-height: 16px; */
        padding: 40px;
        position: relative;
        float: left;
        /* overflow: overlay; */
        top: -49px;
        left: 12px;
        letter-spacing: 1px;
    }

    #bioParagraph {
        padding: 10px;
        margin: -13px;
        position: relative;
        top: 26px;
        left: -2px;
        line-height: 21px
    }

    #myPersonalPicture {
        float: left;
        position: relative;
        padding: 6px;
        top: 24px;
        left: -11px;
    }

/* this next part of the CSS will contain the styling elements for the portfolio gallery */




/* this next part of the CSS will contain the styling elements for the Contact page */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=textarea], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px lightgray;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(74, 170, 165);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}